@charset "utf-8";

*{margin:0; padding:0; box-sizing:border-box;}
img{display:block; max-width:100%;}
#layout{max-width:1200px; margin:auto;}
#header{width:100%; height:152px;display:block;border:none;position:relative;z-index:1;}

#index main{position:relative;}
#index main img:not(:first-child){position:absolute;top:0;}
#menus main{display:flex;flex-wrap:wrap;justify-content:space-around;}
#menus section{margin-bottom:20px;cursor:pointer;position:relative;overflow:hidden;}
#menus section div{position:absolute; width:100%; background:#e8521d; top:333px;padding:15px;color:white;transition:0.5s;}
#menus section:hover div{top:70%;}
#menus p{font-size:0.85rem;}

#media img{margin:auto;}

main{animation:down 1s;}
@keyframes down {
	from 	{opacity:0; transform:translateY(-50px);}
	to 		{opacity:1; transform:translateY(0);}
}

#footer{width:100%; height:199px; display:block; border:none;}